body {
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.brand {
    font-size: 50px;
    color: rgb(188, 131, 7);
    margin-left: 100px;
}
.banner {
    text-align: center;
    margin-bottom: 100px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.caption {
    height: 600px;
    color: white;
    background-color: rgba(18, 18, 18, 0.4);
}
.caption h1 {
    padding-top: 170px;
    font-size: 40px;
}
.caption h1, .caption p {
    margin:auto;
    width: 600px;
}
.btn {
    padding: 12px 24px;
    margin-top: 12px;
    border-radius: 4px;
    border: none;
    background-color: #FF5959;
    color: white;
    font-weight: bold;
}
.donate-today {
    width: 1150px;
    height: 500px;
    margin: auto;
}
.heading {
    text-align: center;
    margin:auto;
    width: 600px;
}
.heading h2 {
    font-size: 28px;
    font-weight: 700;
}
.ammount {
    text-align: center;
    margin-bottom: 50px;
}
.ammount h3  {
    display: inline-block;
    padding: 30px 20px;
    margin: 8px;
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 3px;
}
.hover {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}
.input {
    width: 550px;
    margin: auto;
    text-align: center;
}
.input p {
    color: #707070;
    margin-left: -24px;
}

.plans {
  float: left;
}
.plan {
    width: 320px;
    height: 360px;
    margin: 20px 10px;
    float: left;
    padding: 40px 20px;
    border-radius: 3px; 
}
.bg-1 {
    background-color: rgba(79, 157, 166, 0.1);
}
.bg-2 {
    background-color: rgba(255, 89, 89, 0.1);
}
.bg-3 {
    background-color: rgba(255, 244, 214, 1);
}
.contribute {
    margin: 0px 100px;
    margin-bottom: 50px;
}
.item {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
    float: left;
}
.align {
    margin-top: 90px;
}
.item img {
    width: 522px;
    margin-left: 100px;
    border-radius: 3px;
}
.item1 img {
    width: 522px;
    height: 400px;
    margin-right: 75px;
    border-radius: 3px;
    float: left;
}
.align1 {
    margin-top: 60px;
}


